@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || GENERAL STYLES */

html{
  scroll-behavior: smooth;
}

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}

/* Variables */
:root{
  /* Color */
  --BGCOLOR: #475569;
  --ALT-COLOR: #1E293B;
  --RADIAL-COLOR: whitesmoke;
  --LIGHT-COLOR: whitesmoke;
  --DARK-COLOR: #000;
  /* FONT */
  --FF: "Nunito", sans-serif;
  --FS: 1.5rem;
  --FF-XL: 3rem;


  /* GENERAL */
  --PADDING: 0.5rem;
  --SHADOWS: 0 6px 5px -5px var(--DARK-COLOR);
  --BORDERS:2px solid var(--DARK-COLOR);

  /* SQUARE */
  --SQUARE-BGCOLOR: papayawhip;
  --SQUARE-SIZE: max(150px, 20vw);
}

@media (prefers-color-scheme: dark) {
  :root{
    --BGCOLOR: #1E293B;
    --ALT-COLOR: #475569;
    --RADIAL-COLOR: gray;
    --LIGHT-COLOR: whitesmoke;
    --DARK-COLOR: whitesmoke;
    --SQUARE-BGCOLOR: rgb(202, 174, 202);
  }
}

/* Variables */



/* ||Utitlity Classes */
.nowrap{
  white-space: nowrap;
}



/* ||Utitlity Classes */



/* || GENERAL STYLES */
body {
  font: var(--FS) "Nunito", sans-serif;
  min-height: 100vh;
  

  background-color: var(--BGCOLOR);
  background-image: radial-gradient(var(--RADIAL-COLOR), var(--BGCOLOR));
  display: flex;
  flex-direction: column;
}



:is(header, footer) {
  position: sticky;
  background-color: var(--BGCOLOR);
  color: var(--LIGHT-COLOR);
  text-align: center;
}

header{
  top: 0;
  color: red;
}
main{
  flex-grow: 1;

  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  gap: min(4vw, 15px)
}
footer{
  bottom: 0;
}


/* FEATURES */
.square--highlight{
  --SQUARE-BGCOLOR: cornflowerblue;
}


.square{
  background-color: var(--SQUARE-BGCOLOR);
  width: var(--SQUARE-SIZE);
  height: var(--SQUARE-SIZE);
  border: var(--BORDERS);
  border-radius: 15px;
  display: grid;
  place-content: center;
  font-size: var(--FF-XL);
  box-shadow: var(--SHADOWS);


}



nav{
  background-color: var(--LIGHT-COLOR);
  font-weight: bolder;
  display: flex;
  justify-content: space-evenly;
  padding: var(--PADDING);
  border-bottom: var(--BORDERS);
  box-shadow: var(--SHADOWS);
}
nav a:link, nav a:visited{
  color: var(--DARK-COLOR);
  text-decoration: none;}
nav a:active{
  color: red;
}
nav :is(a:hover,a:focus){
  color: hsl(0, 0%, 20%, 0.6);
}
/* PROFILE CARD*/
.card{
  scroll-margin-top: 8rem;
  width: min(100%, 350px);
  background-color: #cbd5e1;
  border: 2px solid #000;
  border-radius: 15px;
  padding: var(--FS);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:target{
  animation: pulse 0.5s;
  border: 2px solid rebeccapurple;
}

.card figure{
  display: flex;
  flex-flow: column nowrap;
}

.card img {
  border: 5px double #333;
  border-radius: 50%;
}
.card img:not()[alt]{
  border: 10px solid red;
}


.card figcaption{
  font-weight: bolder;
  font-size: var(--FS);
  margin: 1rem;
  text-align: center;
}

.card figcaption::before{
  content: "👤";
  display: block;
}

.card p{
  position: relative;
}
.card p::before{
  content: open-quote;
  font-size: 3em;
  position: absolute;
  top: -0.25em;
  left: -0.5em;
}
.card p::after{
  content: close-quote;
  position: absolute;
  top: -0.25em;
  left: 2.2em;
  font-size: 3em;
}


/* PROFILE CARD*/
.card:nth-child(even){
  background-color: papayawhip;
  border-color: red;


}